# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Environment variables
.env

# Logs
logs/
*.log
logs/**/*.log

# Temporary files
*.tmp
*.temp

# Build outputs
dist/
build/
out/

# IDE and OS specific files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
